  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./background_image_1.png");
    background-size: 100%;
    color: white;
    font-family: 'Inter', sans-serif;
}

.header-main {
    padding-top: 1em;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    color: black;
    font-size: 60px;
}

.btn_header {
    background: blue;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: white;
    padding: 0.5em 2em;
    border: 2px solid rgba(173, 216, 230, 0.006);
    cursor: pointer;
}

.pockemon-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
    padding: 50px;
}

.lista_participantes {
    text-align:center;
}

.nombre {
    line-height: 30px;
    list-style-type: none;
    font-size: 22px;
    color: black;
    font-weight: 750; 
}

h2 {
    font-size: 30px;
    color: black;
}

.bola {
    padding-top: 250px;
    margin-left: 100px;
    width: 275px;
    
}
